@media (max-width: 1800px){
  .main{
    &__results{
      grid-template-columns: auto;
      justify-content: center;
      grid-template-rows: auto;
      grid-auto-flow: row;
    }
    &__results-latest{
      margin: 0 auto;
      max-width: 430px;
    }
    &__results-time{
      max-width: 580px;
    }
  }
}
@media (max-width: 1450px){
  .expand-btn {
    top: 80px;
    right: 0;
  }
  .wrapper{
    grid-template-columns: 60px 1fr;
    grid-template-areas: 
    "sidebar profile-info"
    "sidebar main";
  }
  .sidebar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .main{
    background-color: #FEFEFE;
  }
  .profile{
    &__logout{
      justify-content: space-evenly;
    }
  }
}
@media (max-width: 620px){
  .main{
    &__header{
      position: relative;
    }
    &__header-search-btn{
      position: relative;
    }
    &__header-search-input{
      position: absolute;
      top: 5px;
      right: 60px;
    }
    .input-search-active{
      position: absolute;
      top: 5px;
      right: 60px;
      height: 50px;
      width: 205px;
    }
  }
}
@media (max-width: 550px){
  .main{
    &__inner{
      padding: 41px 15px 24px;
    }
    &__welcome{
      padding: 0 10px;
    }
    &__results{
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
  &__results-top{
    grid-template-columns: 1fr;
  }
  &__results-latest-title{
    text-align: center;
  }
  &__results-latest-more-container{
    justify-self: center;
  }
  &__list-item{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  &__list-label{
    text-align: center;
  }
  &__percent{
    font-size: 14px;
    font-weight: 600;
    justify-self: center;
  }
  &__results-time{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: 50px 520px 25px;
    background-color: #FDFDFE;
    border-radius: 17px;
    min-height: 460px;
    gap: 50px 0;
    padding: 31px 10px 40px;
  }
  &__results-time-top{
    grid-template-columns: 1fr;
  }
  &__results-time-title{
    text-align: center;
  }
  &__time-list{
    grid-template-columns: 30px 30px 30px 30px;
    justify-content: center;
    gap: 20px 20px;
    margin: 20px 0 0 0;
  }
  &__courses{
    gap: 55px 0;
  }
  &__courses-top{
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  &__courses-title{
    justify-self: center;
  }
  &__more-content{
    justify-self: center;
  }
  &__courses-block{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 300px));
    grid-template-rows: 105px 105px;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    border-radius: 20px;
    padding: 10px 20px;
  }
  &__courses-subject-container{
    display: grid;
    justify-content: center;
  }
  &__courses-subject{
    grid-template-columns: 119px 40px;
    &::after{
    width: 170px;
    transform: translate(-2%, -15%);
    }
    &:hover::before,
  &:focus::before,
  &:active::before{
    transform: translate(850%, 10%);
  }
}
  }
}
@media (max-width: 500px){
  .profile{
  &__inner{
    padding: 57px 15px 0;
  }
  &__results-one,
  &__results-two{
    grid-template-columns: 1fr;
    text-align: center;
  }
  &__results-level{
    justify-self: center;
  }
  &__reminders-top{
    grid-template-columns: auto 22px;
  }
  &__reminders-message{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  &__reminders-message-icon{
    justify-self: center;
  }
  }
}
@media (max-width: 370px){
  .main{
    .input-search-active{
      width: 160px;
    }
  }
}